<main>
    <h1 class="display-1">Eat Dat burger</h1>
    <div class="container"
       <div class="row">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
    <h3 class="display-3">Burgers to be Devoured</h3>
    <div class="row">
              {{#each burgers}}
               {{#unless this.devoured}}
              <div>
              <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                      <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
              </div>
             {{/unless}}
        {{/each}}
      </div>
      <h4 class="display-4">New Burgers</h4>
    <div class="row">
    <div class="col md">
        <form class="create-form" action="/api/burgers" method="POST">
            <div class="form-group">
                <label for="ca">Burger Ingredients:</label>
                <input type="text" id="ca" name="Burger_name">
            </div>
            <button type="submit">Add Burger</button>
        </form>
      </div>
    </div>
</main>

    
    
